.jogo {
  background: #9be5e4;
  height: 100vh;
}

.nuvens {
  width: 200px;
  position: absolute;
  top: 30px;
  left: 50%;
}

.mario {
  width: 100px;
  position: absolute;
  top: 75%;
  left: 10%;
}

.pipe {
  width: 50px;
  position: absolute;
  top: 81%;
  left: 90%;
}